<br>
<h2>{{produtoItem.name}}</h2>
<div id="card-item" [@produtoAppeared]="produtoItemState" style="background: white">
  <div class="card text-white bg-white mb-3">
    <img class="card-img-top center-block" [src]="produtoItem.imagePath" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{produtoItem.name}}</h4>
      <p class="card-text">{{produtoItem.autor}}</p>
      <h4 class="card-text">{{produtoItem.preco | currency: 'BRL': true}}</h4>
      <p class="card-text">{{produtoItem.forma_pagamento}}</p>
    </div>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <a [routerLink]="['/cart']" (click)="emitAddEvent()" class="btn btn-bitbucket">Comprar</a><br>
  <i class="fa fa-star text-right" aria-hidden="true"></i>
  <i class="fa fa-star text-right" aria-hidden="true"></i>
  <i class="fa fa-star text-right" aria-hidden="false"></i>
  <i class="fa fa-star text-right" aria-hidden="false"></i>
</div>
