<section class="content-header">

  <section class="content">

    <div class="jumbotron welcome-jumbotron">
      <h1>Bem vindo a BookCode</h1>
      <p>
        A livraria virtual do desenvolvedor
      </p>
      <a class="btn-primary btn-lg" [routerLink]="['/catalago-produtos']">Ver estante</a>

    </div>

    <a [routerLink]="['/catalago-produtos']">
      <drag-scroll #nav>
        <img drag-scroll-item
             src="https://images-na.ssl-images-amazon.com/images/I/51%2BAQzaaJmL._SX348_BO1,204,203,200_.jpg"/>
        <img drag-scroll-item
             src="https://images-na.ssl-images-amazon.com/images/I/51nzJVmO-UL._SX378_BO1,204,203,200_.jpg"/>
        <img drag-scroll-item
             src="https://images-na.ssl-images-amazon.com/images/I/51ljjwmnAhL._SX352_BO1,204,203,200_.jpg"/>
        <img drag-scroll-item
             src="https://images-na.ssl-images-amazon.com/images/I/51qoFdDmLqL._SX360_BO1,204,203,200_.jpg"/>
        <img drag-scroll-item
             src="https://images-na.ssl-images-amazon.com/images/I/51BSaWA-TvL.jpg"/>
      </drag-scroll>
    </a>

    <section class="text-center">
      <button type="button" class="btn-secondary btn" (click)="moveLeft()"><i class="fas fa-arrow-circle-left"></i></button>
      <button type="button" class="btn-secondary btn" (click)="moveRight()"><i class="fas fa-arrow-circle-right"></i></button>
    </section>

  </section>

</section>
